<% if (deleteMovie && deleteMovie.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    
    <%= deleteMovie %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if (deleteShow && deleteShow.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    
    <%= deleteShow %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if (deleteReview && deleteReview.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    
    <%= deleteReview %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
