<div class="container foot mt-auto">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-top">
        <ul class="nav col-md-4 justify-content-start">
            <li class="nav-item"><a href="/movies" class="nav-link px-2 text-muted">Movies</a></li>
            <li class="nav-item"><a href="/shows" class="nav-link px-2 text-muted">Shows</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-muted text-decoration-none">
          GYMH
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/register" class="nav-link px-2 text-muted">Register</a></li>
            <li class="nav-item"><a href="/login" class="nav-link px-2 text-muted">Login</a></li>
        </ul>
    </footer>
</div>
