<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GYMH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/movies">All Movies</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/shows">All TV Shows</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Genres</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/search/genre/Action">Action</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Adventure">Adventure</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Animation">Animation</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Comedy">Comedy</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Crime">Crime</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Documentary">Documentary</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Drama">Drama</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Family">Family</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Fantasy">Fantasy</a></li>
                            <li><a class="dropdown-item" href="/search/genre/History">History</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Horror">Horror</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Music">Music</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Mystery">Mystery</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Romance">Romance</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Science Fiction">Science Fiction</a></li>
                            <li><a class="dropdown-item" href="/search/genre/TV Movie">TV Movie</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Thriller">Thriller</a></li>
                            <li><a class="dropdown-item" href="/search/genre/War">War</a></li>
                            <li><a class="dropdown-item" href="/search/genre/Western">Western<a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about">About</a>
                    </li>

                </ul>

                <form action="/search" method="POST" class="d-flex m-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>

                <ul class="navbar-nav me-5 bm-2 mb-lg-0 right">
                    <% if (user && user.role === 'admin') { %>
                    <li class="nav-item">
                        <a href="/movies/new" class="nav-link text-light">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a href="/shows/new" class="nav-link text-light">Add TV Show</a>
                    </li>
                    <% } %>

                    <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login">Login</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user"><%= user.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/logout">Logout</a>
                    </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
</div>
