<%- layout('layout') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <div class="card m-auto" style="width: 18rem;">
                    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                        class="card-img-top" alt="Logo for The Movie Database">

                    <div class="card-body">
                        <h5 class="card-title">Movie Info</h5>
                        <p class="card-text">This product uses the TMDb API but is not endorsed or certified by TMDb.
                        </p>
                        <p>Movie info for this app comes from The Movie Database</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.themoviedb.org/" target="_blank">TMDb
                                Website</a></li>
                        <li class="list-group-item"><a href="https://developers.themoviedb.org/3/" target="_blank">TMDb
                                API</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card m-auto" style="width: 18rem;">
                    <img src="https://static.tvmaze.com/images/tvm-header-logo.png" class="card-img-top"
                        alt="Logo for TV Maze">
                    <div class="card-body">
                        <h5 class="card-title">TV Info</h5>
                        <p class="card-text">TV info for this app comes from TV Maze</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.tvmaze.com" target="_blank">TVmaze Website</a>
                        </li>
                        <li class=" list-group-item"><a href="https://www.tvmaze.com/api" target="_blank">TVmaze API</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>