<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Movies Here</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <h1>Welcome to Your Next Movie Night</h1>

    <h2>Look at some of the hit TV shows you can rent tonight</h2>

    <section class="tv-show-display">
        <div class="tv-show">
            <h3>Stargate SG-1</h3>
            <p>
                <b>Stargate SG-1</b> is a science fiction series based on the original film <i>Stargate</i>. It involves
                the
                team SG-1 going on various adventures to different alien worlds through Stargates. Throughout the series
                they encounter various alien threats and allies including but not limited to the Goa'uld and the Asgard.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Stargate Atlantis</h3>
            <p>

                Atlantis, built thousands of years ago by the highly evolved Ancients, is home base for an elite
                expedition
                from Earth. These courageous military commanders and scientists leap through the city's Stargate to
                explore
                the wondrous Pegasus galaxy and battle the treacherous Wraith, who seek control of Atlantis -- at any
                cost.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Stargate Universe</h3>
            <p>
                <b>Stargate Universe</b> follows a band of soldiers, scientists and civilians, who must fend for
                themselves
                as they are forced through a Stargate when their hidden base comes under attack. The desperate survivors
                emerge aboard an ancient ship, which is locked on an unknown course and unable to return to Earth. Faced
                with meeting the most basic needs of food, water and air, the group must unlock the secrets of the
                ship's
                Stargate to survive. The danger, adventure and hope they find on board the Destiny will reveal the
                heroes
                and villains among them.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Star Trek</h3>
            <p>

                The original <b>Star Trek</b> series focuses on the 23rd century adventures of Captain James T. Kirk and
                the
                U.S.S. <i>Enterprise </i>(NCC-1701), a powerful interstellar spacecraft dispatched by Earth-based
                Starfleet
                Command to explore the galaxy. Kirk commands a crew of 430 men and women aboard his starship, which can
                travel at speeds surpassing the speed of light. Kirk's five-year mission—and his mandate from
                Starfleet—is
                to seek out new life and new civilizations, and to boldly go where no man has gone before.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Star Trek: Voyager</h3>
            <p>
                <b>Star Trek: Voyager</b> (VOY) focuses on the 24th century adventures of Captain Kathryn Janeway aboard
                the
                U.S.S. Voyager. Smaller than either Kirk's or Picard's starships—its crew complement is only 150—Voyager
                is
                fast and powerful, and has the ability to land on a planet's surface. It is one of the most
                technologically
                advanced vessels in Starfleet, utilizing computer circuitry that incorporates synthetic neural tissue.
                Ironically, Janeway's inaugural mission aboard Voyager was to be her last in the Alpha quadrant. While
                attempting to capture the crew of a renegade Maquis vessel, both her ship and that of the Maquis were
                pulled
                into the distant Delta quadrant by powerful alien technology. Unfortunately, there would be no similar
                \"express\" route to take them home again. Stranded 70,000 light-years from Earth, Janeway convinced the
                Maquis to join her Starfleet crew and serve together during the long voyage back to Federation space.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Star Trek: Enterprise</h3>
            <p>
                <b>Star Trek: Enterprise</b> (ENT) focuses on the 22nd century adventures of Captain Jonathan Archer
                aboard
                the Enterprise NX-01 during the early days of interstellar travel. The NX designation indicates that
                this
                Enterprise is an experimental prototype; Unlike the starships of the four other <i>Star Trek </i>series,
                this Enterprise doesn't have deflector shields or phasers, but it does come equipped with a phase cannon
                and
                a rudimentary transporter that functions efficiently most of the time.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Star Wars: The Clone Wars</h3>
            <p>
                The Clone Wars television series chronicles the events taking place between Star Wars Episode II: Attack
                of
                the Clones and Star Wars Episode III: Revenge of the Sith. The Clone Wars will ultimately lead to the
                downfall of the Jedi and the rise of the Galactic Empire.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>Star Wars Rebels</h3>
            <p>
                <b>Star Wars Rebels</b>, set five years before the events of Star Wars: Episode IV - A New Hope, tells
                the
                story of the Rebellion's beginnings while the Empire spreads tyranny through the galaxy.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Science-Fiction</li>
            </ul>
        </div>

        <div class="tv-show">
            <h3>The Science of Star Wars</h3>
            <p>
                The characters of Star Wars may live in a galaxy far, far away, but how close are we to having droids
                drive
                us to work or cook us dinner on this planet? Fans can watch a three-day miniseries on Discovery Channel
                called <b>The Science of Star Wars</b> to learn about real-life robots, high-tech weapons and even hot
                rods
                of the future.
            </p>
            <h4>Genres</h4>
            <ul>
                <li>Science-Fiction</li>
            </ul>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>