<% layout('layout') %>
<h1>Look At All These Great TV Shows</h1>

<h2>Look at some of the hit TV shows you can rent tonight</h2>
<div class="container">
    <div class="row">
        <% for (let show of allShows) { %>
        <div class="col-4">
            <img src="<%= show.poster %>">
            <h3><%= show.name %></h3>
            <p><%= show.summary %></p>
            <h4>Genres</h4>
            <% for (let genre of show.genres) { %>
                <ul><%= genre %></ul>
            <% } %>
        </div>
        <% } %>
    </div>
</div>