h1, h2 {
    text-align: center;
}
.tv-show-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tv-show {
    border: 1px solid blue;
    margin: 5px 1.66%;
    padding: 3px;
    width: 25%;
}