<% layout('layout') %>
<h1 class="mt-5 mb-5 text-center">Look at some of the hit movies you can rent tonight</h2>
<div class="container">
    <div class="row">
        <% for (let movie of allMovies) { %>
        <div class="position-relative col-3 mb-5">
            <% if (movie.poster) { %>
            <a href="/movies/<%= movie._id %>" class="stretched-link"><img src="<%= movie.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <p> movie.name </p>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
