<% layout('layout') %>
<h1>Look At All These Great Movies</h1>

<h2 class="mb-5">Look at some of the hit movies you can rent tonight</h2>
<div class="container">
    <div class="row">
        <% for (let movie of allMovies) { %>
        <div class="col-3 mb-5 img-fluid">
            <a href="/movies/<%= movie._id %>" class="stretched-link"><img src="<%= movie.poster %>"> </a>
        </div>
        <% } %>
    </div>
</div>
