<% layout('layout') %>
<h1>Add a Movie</h1>

<div class="container mt-5 col-4">
    <form>
        <label class="form-label" for="search">Movie Name</label>
        <input class="form-control" type="text" id="search" name="search">

        <div class="d-flex justify-content-around">
            <button class="btn btn-primary mt-2" id="searchBtn">Search</button>
            <button class="btn btn-danger mt-2 d-inline-block" id="clearBtn">Clear</button>
            <button class="btn btn-warning mt-2 d-inline-block" id="clearSearchBtn">Clear and Search</button>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row" id="results">
    </div>
</div>



<script>
const search = document.querySelector('#search');
const list = document.querySelector('#results');
const searchBtn = document.querySelector('#searchBtn');
const clearBtn = document.querySelector('#clearBtn');
const clearSearchBtn = document.querySelector('#clearSearchBtn');

searchBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    await getResults();
});

clearBtn.addEventListener('click', (e) => {
    e.preventDefault();
    clearResults();
});

clearSearchBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    clearResults();
    await getResults();
});

const clearResults = () => {
    list.innerHTML = '';
};

const getResults =  async (e) => {
    const res = await getMovies(search.value);
    const baseUrl = 'https://image.tmdb.org/t/p/';
    const size = 'w500';
    search.value = '';

    for (let item of res.results) {
        let genres = '';
        for (let genre of item.genre_ids) {
            genres += `<li class="list-group-item">${genre}</li>`; 
        }
        const card = `<div class="col-3 card mb-5">
                        <img src="${baseUrl.concat(size, item.poster_path)}">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>${item.original_title}</h3>
                            </div>
                            <p class="card-text">${item.overview}</p>
                            <h4>Genres</h4>
                            <ul class="list-group list-group-flush">
                                ${genres}
                            </ul>
                        </div>
                    </div>`
        list.innerHTML += card;
    }
};

const getMovies = async (searchTerm) => {
    const results = await fetch(`https://api.themoviedb.org/3/search/movie?api_key=<%= process.env.API_KEY %>&query=${searchTerm}`);
    const json = await results.json();
    return json;
}
</script>
