<% layout('layout') %>
<h1 class="text-center mt-3 mb-3">Add a Movie</h1>

<div class="container mt-5 col-4">
    <form>
        <label class="form-label" for="search">Movie Name</label>
        <input class="form-control" type="text" id="search" name="search">

        <div class="d-flex justify-content-around">
            <button class="btn btn-primary mt-2" id="searchBtn">Search</button>
            <button class="btn btn-danger mt-2 d-inline-block" id="clearBtn">Clear</button>
            <button class="btn btn-warning mt-2 d-inline-block" id="clearSearchBtn">Clear and Search</button>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row" id="results">
    </div>
</div>

<script src="/js/movieSearch.js"></script>
