<% layout('layout') %>

<div class="container mt-5">
    <h1 class="mb-3 mt-3 text-center">Admin Panel</h1>
    <div class="row col-10 offset-1">
        <% for (let user of allUsers) { %>
        <div class="col-4 mt-3 mb-3">
            <form action="/admin" method="POST">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" value="<%= user.username %>">

                <label class="form-label mt-2" for="role">Role</label>
                <input class="form-control" type="text" name="role" id="role" value="<%= user.role %>">

                <label class="form-label mt-2" for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email" value="<%= user.email %>">

                <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
                <button class="btn btn-primary mt-3">Update</button>
            </form>
        </div>
        <% } %>
    </div>
</div>
