<% layout('layout') %>

<div class="container">
    <h2>Admin Panel<h2>
    <div class="row">
        <% for (let user of allUsers) { %>
        <div class="card col-4">
            <div class="card-body">
                <form action="/admin" method="POST">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username" value="<%= user.username %>">

                    <label class="form-label" for="role">Role</label>
                    <input class="form-control" type="text" name="role" id="role" value="<%= user.role %>">

                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email" value="<%= user.email %>">

                    <input type="hidden" id="userid" name="userid" value="<%= user._id %>">
                    <button class="btn btn-primary">Update</button>

                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>
