<% layout('layout') %>
<h1 class="mb-5 mt-5 text-center">Look at some of the hit TV shows you can rent tonight</h1>
<div class="container">
    <div class="row">
        <% for (let show of allShows) { %>
        <div class="position-relative col-2 mb-5">
            <% if (show.poster) { %>
                    <a href="/shows/<%= show._id %>" class="stretched-link"><img src="<%= show.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <p> show.name </p>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
